#cointainer{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
    height: 60vmin;
    width: 60vmin;


}
body{
    background-color: #441752;
}
*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
     color: #e2daf4;
     font-weight: 100;
     font-size: 5rem;
     
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0,0.5);
    font-size: 8vmin;
    color:#441752;
    background-color:  #EFB6C8;
}
#reset{
    padding: 0.5rem;
    font-size: 1.25rem;
    background-color: #8174A0;
    color: #fff;
    border: none;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
#re{
    padding: 0.5rem;
    font-size: 1.25rem;
    background-color: #8174A0;
    color: #fff;
    border: none;
    border-radius: 1rem;
}

.hidden{
 display: none ;

}
p{
    padding-bottom: 5%;
}
.cointainer{
    font-size: 2rem;
    color:#e2daf4;
    padding-top: 10%;
    height: 60vh;
}
.pressed {
    box-shadow: 0 0 10px white;
    background-color: #BBD5ED;
  }
